<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <!-- Google Fonts -->

        <!-- Estilos -->
        
        <title>Formulario Login y Registro de Usuarios</title>
    </head>

    <body>
        <!-- Formularios -->
        <div class="contenedor-formularios">
            <!-- Contenido de los Formularios -->
            <div class="contenido-tab">
                <!-- Iniciar Sesion -->
                <div id="iniciar-sesion">
                    <h1>Iniciar Sesión</h1>
                    <form method="post">
                        <div class="contenedor-input">
                            <input type="text" required placeholder="Usuario">
                        </div>

                        <div class="contenedor-input">
                            <input type="password" required placeholder="Contraseña">
                        </div>
                        <p class="forgot"><a href="#">Se te olvidó la contraseña?</a></p>
                        <button type="submit">
                            Iniciar sesion
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>